#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

main {
  margin-left: 15rem;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.textarea-autosize {
  display: block;
  overflow: hidden;
  resize: none;
  outline: none;
  text-align: justify;
  white-space: pre-wrap;

  flex: 1;
  background-color: unset;
  width: 100%;
  min-height: 2rem;
}

.loading-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 1rem;
  color: black;
}

.loading-spinner {
  font-size: 5rem; /* керує розміром */
  width: 1em;
  aspect-ratio: 1;

  border: 0.12em solid #1e293b;
  border-top-color: var(--blue);

  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error_message {
  color: var(--red) !important;
  font-size: 0.9rem;
}
