.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: black;
  background-color: white;
  border-radius: var(--radius);
  padding: 1rem 0;
  flex: 1;
}

.list_header {
  color: var(--muted);
  font-size: 0.8rem;
  padding: 0 0.9rem;
  font-weight: 500;
}

.list hr {
  border: none;
  border-top: 1px solid lightgray;
}

.grid {
  display: grid;
  grid-template-columns:
    minmax(220px, 1.5fr)
    minmax(110px, auto)
    minmax(140px, auto)
    minmax(200px, 3fr)
    minmax(100px, auto);
  align-items: center;
  column-gap: 1rem;
}

.bookings_item {
  padding: 0.4rem 0.9rem;
}

.room_title,
.description {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.date,
.time {
  font-size: 0.9rem;
}

.room_title {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  font-weight: 600;
}

.description {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.cancel_booking_btn {
  color: black;
  border-color: var(--red);
  transition: color 0.25s, background-color 0.25s;
}

.cancel_booking_btn:hover {
  color: white;
  background-color: var(--red);
}
