.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: black;
  background-color: white;
  border-radius: var(--radius);
  padding: 1rem 0;
  flex: 1;
}

.list_header {
  color: var(--muted);
  font-size: 0.8rem;
  padding: 0 0.9rem;
  font-weight: 500;
}

.list hr {
  border: none;
  border-top: 1px solid lightgray;
}

.grid {
  display: grid;
  grid-template-columns:
    minmax(220px, 2fr)
    minmax(110px, auto)
    minmax(140px, auto)
    minmax(200px, 3fr);
  align-items: center;
  column-gap: 1rem;
}

.bookings_item {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.4rem 0.9rem;
}

.bookings_item:hover {
  background-color: rgba(0, 0, 255, 0.08);
}

.room_title,
.description {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.room_title {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  font-weight: 600;
}

.description {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
