.header {
  color: black;
  font-size: 1rem;
}

.create_booking_btn {
  background-color: var(--blue);
  padding: 0.5rem 0.9rem;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
}

.bookings_list_section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
