:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg: linear-gradient(180deg, #eef2ff 0%, #f8fafc 60%);
  --radius: 12px;
  --shadow: 0 6px 20px rgba(20, 24, 40, 0.06);
  --muted: #6b7280;
  --blue: #646cff;
  --red: #ff2f2f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background: var(--bg);
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
}
button,
input,
textarea,
select {
  transition: border-color 0.25s;
}
input:hover,
button:hover,
textarea:hover,
select:hover {
  border-color: var(--blue);
}

button:focus,
button:focus-visible {
  outline: 1px auto;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  border: 1px solid var(--blue);
}

input,
textarea,
select {
  background: none;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  color: black;
  outline: none;
}

a {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: var(--blue);
}
