.sidebar {
  width: 15rem;
  position: fixed;
  inset: 0 auto 0 0;
  overflow-y: auto;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1rem 2rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar hr {
  margin: 1rem 0;
}

.sidebar a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}

.profile_top {
  color: var(--muted);
  font-size: 0.7rem;
}

.username {
  font-size: 0.9rem;
  color: #1e1e1e;
}

.email {
  font-size: 0.7rem;
  color: var(--muted);
  font-weight: 600;
}

.logout_btn {
  margin-top: 0.5rem;
  color: var(--blue);
  padding: 0.2rem 0;
  font-size: 0.9rem;
  width: 100%;
  border-color: lightblue;
}
